.list-group-item1
{
  overflow: auto;
  display: block;
  background-color: #fff;
  border: 1px solid #ddd;'
  height: 200px;
}
.job-col {
  border: 2px solid black;
  display: table-cell;
  height: 1600px;
  width: 200px;
  padding: 0 5px;
}


.slot-container {
  position: relative;
  width: 190px
}

.slot {
  border: 1px solid black;
  overflow-y: auto;
  text-align: center;
  height: 150px;

}

.slot:hover {
  text-decoration: none;

}

.job-header {

  border-top: 1px solid black;
  text-align: center;
  background-color: white;
}

.paddingBig2 {
  padding-top: 100px;

}

.time-block {
  height: 62px;
  padding-top: 15px;
}

.time-col {
  left: 20%;
  top: 20%;
}

.crouching-tiger-hidden-label2{
    visibility: hidden;
    padding-bottom: 48px;
}

.judgeJ{
  display: inline-block;
  min-width: 10px;Rici Alseson
  padding: 3px 7px;
  font-size: 12px;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-color: #F4A460;
  border-radius: 10px;
}


.job-table {
  padding-top: 1000px;
  border-collapse: collapse;
  display: table;

}

.hideName {
  white-space: nowrap;
  overflow-y: hidden;
  text-overflow: ellipsis;
  width: auto;
  height: auto;
}

#ex3::-webkit-scrollbar{
  width:5px;
  background-color: #dff0d8;
  position: fixed;
}
#ex3::-webkit-scrollbar-thumb{
  background-color: green;
  border-radius:10px;
}

#ex2::-webkit-scrollbar{
  width:5px;
  height: 10px;
  background-color: gray;
  border-radius: 5px;
}
#ex2::-webkit-scrollbar-thumb{
  background-color: black;
  border-radius:5px;
}
