.job-col {
  border: 2px solid blue;
  display: table-cell;
  height: 1600px;
  width: 200px;
  padding: 0 5px;
}

.foo {
  border: 2px solid red;
  display: table;
  padding: 0 5px;
  height:1600px;

}

.slot-container {
  position: relative;
  width: 190px
}

.slot {
  position: absolute;
  border-width: 1px;
  border-style: solid;
  width: 100%;
  overflow-y: auto;
  text-align: center;
}

.slot:hover {
  text-decoration: none;

}

.job-header {
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  text-align: center;
  background-color: red;
}

.paddingBig2 {
  padding-top: 100px;

}

.time-block {
  height: 62px;
  padding-top: 15px;
}

.time-col {

}

.crouching-tiger-hidden-label2{
    visibility: hidden;
    padding-bottom: 48px;
}

.judgeJ{
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-color: #F4A460;
  border-radius: 10px;
}


.fixedMid
{
  /*position: fixed;*/
  width: 190px;
  background-color: white;
  z-index: 100;
}
.job-table {
  padding-top: 1000px;
  border-collapse: collapse;
  display: table;

}

.hideName {
  white-space: nowrap;
  overflow-y: hidden;
  text-overflow: ellipsis;
  width: auto;
  height: auto;
}

#ex3::-webkit-scrollbar{
  width:5px;
  background-color: #dff0d8;
}
#ex3::-webkit-scrollbar-thumb{
  background-color: green;
  border-radius:10px;
}
