.crouching-tiger-hidden-label {
  visibility: hidden;
}

.form-inline .form-control-narrow {
  width: 60px;
}

.paddingBigBuild2 {
  padding-top: 80px;
  background-color: white;
}
.paddingBigBuild {
  padding-top: 50px;
  background-color: white;
}

.fixedTopBuild
{
  position: fixed;
  width: 10000px;
  background-color: white;
  z-index: 100;
}
