<div class="paddingBig">
<header class="hero-unit" id="banner">
  <div class="container">
    <div>
      <h1>Ulysses</h1>
      <p class="lead">*Scheduler of the Mind*</p>
      <img src="assets/images/raccoon.jpg">
    </div>
    <br>
    <form class="form-inline" role="form" style="padding: 8px; margin-left: 30px">
      <div class="form-group">
        <input class="form-control" ng-model="scheduleName" placeholder="New Schedule Name">
      </div>
      <button type="submit" class="btn btn-success" ng-click="addSchedule()">New Schedule</button>
    </form>
    <h2>List of Schedules:</h2>
    <div ng-repeat="schedule in schedules">
      {{ schedule.name }}
    </div>
  </div>
</header>
</div>
