.job-col {
  border: 2px solid black;
  display: table-cell;
  height: 1200px;
  width: 200px;
  padding: 0 5px;
}

.slot-container {
  position: relative;
}

.slotView {
  position: absolute;
  border-width: 1px;
  border-style: solid;
  width: 100%;
  overflow-y: auto;
}

.slot:hover {
  text-decoration: none;
}

.job-header2 {
  border-bottom: 1px solid black;
}

.paddingVolunteer {
  padding-top: 100px;
  text-align: center;
  margin: 15 auto;
  width: auto;



}

.time-block {
  height: 62px;
  padding-top: 15px;
  padding-right: 15px;
}

.crouching-tiger-hidden-label2{
    visibility: hidden;
    padding-bottom: 48px;
}

.judgeJ{
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-color: #F4A460;
  border-radius: 10px;
}


.fixedMid
{
  position: fixed;
  width: 190px;
  background-color: white;
  z-index: 100;
}
.job-table {
  padding-top: 1000px;
  border-collapse: collapse;
  display: table;
}

.hideName {
  white-space: nowrap;
  width: 12em;
  overflow: hidden;
  text-overflow: ellipsis;
}
#ex3::-webkit-scrollbar{
  width:5px;
  background-color: #dff0d8;
}
#ex3::-webkit-scrollbar-thumb{
  background-color: green;
  border-radius:10px;
}
