
<div class="paddingVolunteer">
    <div class="container">
      <h1>Master Schedule</h2>
    <div class="job-table">
      <div class="time-col">
        <div class="crouching-tiger-hidden-label2">Time</div>
        <div ng-repeat="time in timeArray" class="time-block">
          {{time}}
        </div>
      </div>


      <div ng-repeat="job in schedule.jobs" class="job-col">
          <div class="job-header2">
            <label>{{job.name}}  <span ng-if="job.isJudging" class="judgeJ">J</span></label>
            <br>
            <i>Arrive {{job.training}} minutes before shift for training</i><br>
            <i ng-show="{{job.defaultLocation}}">Location: {{job.location}}</i>
            <i ng-hide="{{job.defaultLocation}}">Location in shift.</i>
          </div>

        <div class="slot-container">
          <div ng-repeat="slot in job.slots" class="slotView" ng-style="calculateSlotPosition(slot)" id="ex3">
            <div ng-hide="{{job.defaultLocation}}"><u>Location:</u> {{slot.location}}</div>
            <div class="hideName" ng-repeat="volunteer in slot.assigned"> {{volunteer.name}} </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
